version: 2
jobs:
  build:
    machine: true
    services:
      - docker
    ruby:
      version: '2.3.1'
    timezone:
      America/Los_Angeles
    working_directory: ~/circulate
    steps:
      - checkout
      - run:
          name: Create Test Directory
          command: mkdir test-reports
      - run:
          name: Bundle Gems
          command: bundle check --path=vendor/bundle || bundle install --path=vendor/bundle --jobs=4 --retry=3
      - run:
          name: Run Rake Task
          command: bundle exec rake circleci --trace
      - store_test_results:
          path: test-reports/
