version: 2
jobs:
  build:
    working_directory: ~/circulate
    docker:
      - image: amazonlinux:latest
      - image: chef/chef:12.18.31
    steps:
      - checkout
      - run:
          name: Yum Update
          command: yum update -y --exclude=kernel*
      - run:
          name: Install Development Tools (Stripped Down Version)
          command: yum install -y git gcc gcc-c++ glibc glibc-devel patch make automake autoconf rpm-build which curl curl-devel openssl openssl-devel zlib zlib-devel apr-devel apr-util-devel httpd-devel sqlite-devel
      - run:
          name: Install Debugging Packages
          command: yum install -y mlocate vim-enhanced
      - run:
          name: Install Ruby
          command: yum install -y ruby23 ruby23-devel
      - run:
          name: Install Bundler
          command: gem install bundler --no-ri --no-rdoc
      - run:
          name: Bundle Gems
          command: bundle check --path=vendor/bundle || bundle install --path=vendor/bundle --jobs=4 --retry=3
      - store_test_results:
          path: test-reports/
